PORT=9000
API_KEY=
TENCENT_SECRET_ID=
TENCENT_SECRET_KEY=
SMS_APP_ID=
SMS_SIGN=
SMS_TEMPLATE_ID=
SMS_TEMPLATE_PARAM_COUNT=1
STATS_FLUSH_INTERVAL_MS=30000
STATS_CLEANUP_INTERVAL_MS=3600000
STATS_RETENTION_DAYS=30